<%= render 'header' %>

<h1 class="text-center mb-3">My Album</h1>
<div class="container mb-5">
    <div class="row ">
   
      <% @albums.each do |album| %>
        <div class="col-lg-3 mb-3">
        <a href="/albums/<%= album.id %>" style="text-decoration:none; color:black ">        
          <div class="card ">
            <%= image_tag album.image if album.image.attached? %>
            <div class="card-body">
              <h5 class="card-title text-center"><%= album.title %></h5>
              <p class="card-title text-center"><%= album.description %></p>
              <p class="card-title text-center">Tagged by - <%= album.tagged %></p>
              <p class="card-title text-center"><%= album.published ? "Published" : "Unpublished" %></p>
            </div>
          </div>         
        </a>
        </div>
      <% end %>
    </div>
</div>

<%= render "albums/footer" %>